# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.artifacts/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Build files
build/*
!build/web/
!build/web/**

# Android packages
*.apk
*.aab

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
# Uncomment if you want to ignore VS Code settings
# .vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/.pub/
coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio build artifacts
/android/app/profile